html{
    background: linear-gradient(to bottom,#1a0024,#3b0052,#560078,#71009e,#9d00db,#b700ff);
    /* background-image: url('./images/back.jpg'); */
    background-repeat: no-repeat;
    background-size: cover; 
    height:auto;
    min-height: 100%;
    font-family: 'Lemonada', cursive;
}
.wrapper{
    display: block;
    background-color: white ;
    width : 70%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 150px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 15px 15px 10px black;
    overflow: hidden;
}
.wrapper > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
/* -----------------------------------------welcome.php PAGE CSS------------------------------------------ */
.logo{
    font-size:90px;
}
div .company span.best{
    font-weight: 900;
}
.company{
    font-size:65px;
    background: -moz-linear-gradient(to bottom);
}
.tag{
    font-size: 20px;
}
.started{
    font-size: 25px;
    margin-top: 20px;
}
input[type='submit']{
    font-size: 30px;
    margin: 35px 0px 0px 25px;
    padding: 20px 70px;
    border: none;
    background-color: #2b0036;
    color: white;
    cursor: pointer;
    opacity: 0.7;
}
input[type="text"],input[type="date"],input[type="password"],input[type="email"],input[type="color"],input[type="tel"]{
    font-size: 25px;
    margin: 15px 0px 0px 0px;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
}
input[type="submit"]:hover{
    opacity: 1;
}
.signup-form .radio label{
    font-size:30px;
    color:grey;
}
.signup-form .choose-color{
    font-size:30px;
    color:grey;
}
div.options{
    margin-top: 70px;
    display: flex;
    flex-direction: row;
}
.options div{
    margin : 5px;
    cursor: pointer;
    font-size: 35px;
    padding: 20px 35px;
}
.options .signup{
    background-color: black;
    color : white;
}
.options .signin{
    border:2px solid black;
}
.options .signup:hover{
    color:purple;
}
.options .signin:hover{
    color: purple;
    border: 2px solid purple;
}
input[type='radio']{
    transform: scale(1.2);
}
/* ---------------------------------------page start.html---------------------------------------------- */

nav{
    display: block;
    justify-content: center;
}
input[type="search"]{
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
}
.profile{
    float:right ;
    font-size:27px;
    padding:7px;
    cursor:pointer;
    text-shadow:3px 3px 2px white;
    border-radius:50%;
    border:2px solid black;
    margin: auto 0;
}
.namehead{
    float:right;
    font-size: 30px;
    margin: 5px 10px 0px 0px;
}
.app-name{
    display: block;
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
    position: sticky;
}
.app-logo{
    font-size: 50px;
}

/* ----------------------------------------eof index--------------------------------------------------- */
span.king{
    display: block;
    color: gold;
    font-size: 18px;
    font-family: 'Sriracha', cursive;
    text-align: center;
    bottom: -10px;
    font-weight: bold;
    position: relative;
    left: -10px;
    width:100%;
    padding:7px;
}
